<ng-template #notRecipe>It is not a recipe</ng-template>

<form
  *ngIf="recipe || !isInEditMode; else notRecipe"
  [formGroup]="recipeForm"
  (ngSubmit)="onSubmit()"
>
  <app-button
    [disabled]="recipeForm.invalid"
    type="submit"
    buttonStyle="primary"
    buttonText="Save"
  ></app-button>
  <app-button buttonStyle="danger" buttonText="Cancel" (buttonClick)="cancel()"></app-button>

  <div>
    <label for="name">Name:</label>
    <input
      formControlName="name"
      name="name"
      class="border-2 rounded-md block w-full"
      type="text"
      id="name"
    />
    <!-- <p *ngIf="name.invalid && name.touched">Required</p> -->
  </div>
  <div class="my-3">
    <label for="imgUrl">Image URL:</label>
    <input
      formControlName="imgUrl"
      name="imgUrl"
      class="border-2 rounded-md block w-full"
      type="text"
      id="imgUrl"
      #imgUrlInput
    />
    <!-- <p *ngIf="name.invalid && name.touched">Required</p> -->
  </div>

  <div>
    <img [src]="imgUrlInput.value" alt="" />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea
      formControlName="description"
      name="description"
      id="description"
      class="border-2 rounded-md block w-full"
    ></textarea>
    <!-- <p *ngIf="name.invalid && name.touched">Required</p> -->
  </div>
  <div formArrayName="ingredients">
    <div
      *ngFor="let ingredientCtrl of controls; let i = index"
      [formGroupName]="i"
      class="grid grid-cols-3 gap-x-3 mt-3"
    >
      <input
        placeholder="Name"
        formControlName="name"
        class="border-2 rounded-md block"
        type="text"
      />
      <input
        formControlName="amount"
        placeholder="Amount"
        class="border-2 rounded-md block"
        type="number"
      />
      <app-button buttonStyle="danger" buttonText="X" (buttonClick)="deleteIngredient(i)"></app-button>
    </div>
    <div>
      <app-button
        buttonStyle="primary"
        buttonText="Add Ingredient"
        (buttonClick)="onAddIngredient()"
      ></app-button>
    </div>
  </div>
</form>
